html
   head
      title Shipyard - #{title}
      link(rel='stylesheet', type='text/css', href='build/css/build.min.css')

   body
      block content

      script(type='text/javascript', src='build/js/build.min.js')
